<!--
  Generated template for the MovieListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Movie List</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Search a movie" (ionInput)="filterMovies($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content padding (ionScrollEnd)="getNextMoviePage($event)">

  <ion-grid *ngIf="movies">
    <ion-row>
      <ion-col col-4 *ngFor="let movie of movies">
        <img [src]="movie.poster_path" (click)="goToDetail(movie)"/>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
