<!--
  Generated template for the AddMoviePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary">
    <ion-title>add a movie</ion-title>
    <ion-buttons start>
      <button (click)="closeModal()" icon-only ion-button color="white">
        Cancel
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button (click)="addMovie(form)" icon-only ion-button color="white" [disabled]="form.invalid">
        Add
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="addMovie(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Add a movie to our database</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="popularity" type="number" placeholder="Popularity" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="vote_count" type="number" placeholder="Vote count" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Video</ion-label>
              <ion-toggle slot="start" name="video" type="boolean" color="secondary" ngModel checked></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-input name="poster_path" type="text" placeholder="Poster's URL" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Adult</ion-label>
              <ion-toggle slot="start" name="adult" type="boolean" color="secondary" ngModel checked></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-input name="backdrop_path" type="text" placeholder="Backdrop's URL" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="original_language" type="text" placeholder="Original language" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="original_title" type="text" placeholder="Original title" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="genre_ids" type="text" placeholder="Genre ids (numbers separated by coma ',')" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="title" type="text" placeholder="Title" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="vote_average" type="number" placeholder="Vote average" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="overview" type="text" placeholder="Overview" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="release_date" type="date" placeholder="Release date" ngModel required></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
